<!-- Input filter -->
<div>
  <label>Filter: </label>
  <input type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter()">
</div>
<table>
  <tbody>
    <tr *ngFor="let cate of categories; let i = index;">
      <td>
        <p [innerHTML]="cate"></p>
      </td>
    </tr>
  </tbody>
</table>
